NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCP3fwIoH4hOB2sUR1-r6o4A4-80oVddq4
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=pempekyo-99ac0.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=pempekyo-99ac0
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=pempekyo-99ac0.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=236895537713
NEXT_PUBLIC_FIREBASE_APP_ID=1:236895537713:web:f0505694bb9dd098e76310
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-VTB4ES8Z03
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-nextauth-secret
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
